.barritasuperior {
	border: solid 1px;
	width: 1032.5px;
	height: 34px;
	font-weight: lighter;
	margin-top: 30px;
	margin-left: 125px;
	text-align: center;
	background-color: #FFC107;
	font-size: 24px;
	z-index: 100;
}

#columna1 {
	margin-left: 125px;
	border: solid 1px;
	width: 340px;
	height: 531px;
}

h1 {
	margin-top: 40px;
	margin-left: 140px;
	font-size: 19px;
	margin-bottom:40px;
}

h3 {
	margin-left: 38px;
	font-size: 16px;
	font-weight: 100px;
	font-weight: lighter;
	margin-right: 40px;
}

#foto1 img {
	position: relative;
	margin-left: 40px;
	width: 300px;
	height: 300px;
}


#columna2 {
	border: solid 1px;
	margin-top:-534px;
	margin-left: 466px;
	padding-right: -20px;
	position: float;
	width: 340px;
	height: 531px;
}

#columna2 h1 {
	margin-top: 40px;
	margin-left: 120px;
	font-size: 24px;
	margin-bottom:28px;

	}


#columna3 {
	margin-top: -534px;
	margin-left: 807px;
	position: float;
	border: solid 1px;
	width: 350px;
	height: 531px;
}

#foto2 img {
	margin-left: 40px;
	width: 300px;
	height: 300px;
}


.barritainferior {

	z-index: 1000px;
	margin-bottom: 10px;
	border: solid 0.4px;
	width: 1032.5px;
	height: 35px;
	margin-left: 125px;
	background-color: #FFC107;
	
}

.barritainferior h3 {
	line-height: 29px;
	margin-left: 350px;
	margin-top: -3px;
	text-align: center;
	font-size: 16px;
	display: inline;
	font-weight: 800px;

}

#listado {
	text-decoration: underline;
	display:inline;
	color: purple;

}